/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

// colours

// $color-primary: #7ed56f;
// $color-secondary: #55c57a;

$color-primary: #12121212;
$color-secondary: #000000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// $color-tertary: #28b485;
$color-tertary: #000000;

$color-grey: #777;
$color-black: #000;
$color-white: #ffff;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//grid
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-for-3-col: 10rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

//fonts 
$default-font-size: 1.6rem;