.navigation {
    &-checkbox{
        display: none;
    }

    &-button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;

        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);

        text-align: center;
        cursor: pointer;

        @include respond(tab-port){
            top: 3rem;
            right: 3rem;
        }
    }

    &-background{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        // background-image: radial-gradient($color-primary $color-secondary);
        background-image: radial-gradient(#000000, $color-secondary);
    
        transition: transform .8s;
        // transform: scale(80);

        @include respond(tab-port){
            top: 3rem;
            right: 3rem;
        }
    }

    &-nav{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        // there in build transition functions like ease in/ ease out etc:-
        transition: all .4s;
    }

    &-list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &-item{
        margin: 1rem;
    }

    &-link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            color: $color-white;
            padding: 1rem 2rem;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
            // background-image:linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50% ) ;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #121212 50%);
            background-size: 220%;
            transition: all .4s;
        }

        &:hover,
        &:active{
            background-position: 100%;
            // color: $color-primary;
        }

        span{
            margin-right: 1rem;
            display: inline-block;
        }
   
    }


    //funcionality
    &-checkbox:checked ~ &-background{
        transform: scale(80);
    }

    &-checkbox:checked ~ &-nav{
        opacity: 1;
        width: 100%;
    }

    //icon
    &-icon{
        margin-top: 3.5rem;
        position: relative;
        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
            transition: all .2s;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
        }

        &::before{
            top: -.8rem;
        }

        &::after{
            top: .8rem;
        }
    }

    &-button:hover > &-icon::after{
        top: 1rem;
    }

    &-button:hover > &-icon::before{
        top: -1rem;
    }

    // + for json siblings can also use ~
    // childs can use > or just a space
    &-checkbox:checked + &-button > &-icon {
       background-color: transparent;
    }

    &-checkbox:checked + &-button > &-icon::before {
        top: 0;
        transform: rotate(405deg);
    }

     &-checkbox:checked + &-button > &-icon::after {
        top: 0;
        transform: rotate(-405deg);
    }
}