.card{
    //finctionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 55rem;

    &-side{
        position: absolute;
        left: 0;
        top: 0;
        font-size: large;
        height: 55rem;
        transition: all .8s ease;
        backface-visibility: hidden;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &-front{
            background-color: $color-white ;
        }

        &-back{
            background-color: aqua;
            transform: rotateY(180deg);
            
            &-1{
                background-image: linear-gradient(to right bottom,$color-secondary-light, $color-secondary-dark );
            }

            &-2{
                background-image: linear-gradient(to right bottom,$color-primary, $color-secondary);
            }

            &-3{
                background-image: linear-gradient(to right bottom,$color-tertiary-light, $color-tertiary-dark );
            }
        }
    }

    &:hover &-side-front{
        transform: rotateY(-180deg);
    }

    &:hover &-side-back{
        transform: rotateY(0);
    }

    //front side styling
    &-picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: color;
        -webkit-clip-path: polygon(0 0 , 100% 0, 100% 90%, 0 100%);
        clip-path: polygon(0 0 , 100% 0, 100% 90%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &-1{
            background-image: linear-gradient(to right bottom,$color-secondary-light, $color-secondary-dark ), url('../img/nat-5.jpg');
        }

        &-2{
            background-image: linear-gradient(to right bottom,$color-primary, $color-secondary ), url('../img/nat-6.jpg');
        }

        &-3{
            background-image: linear-gradient(to right bottom,$color-tertiary-light, $color-tertiary-dark ), url('../img/nat-7.jpg');
        }
    }

    &-heading{
        position: absolute;
        top: 12rem;
        left: 2rem;
        text-align: right;
        font-size: 2.8rem ;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        width: 75%;
    }

    &-heading-span{

        padding: 1rem 1.5rem ;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &-1{
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }

        &-2{
            background-image: linear-gradient(to right bottom,
            rgba($color-primary, .85),
            rgba($color-secondary, .85));
        }

        &-3{
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light, .85),
            rgba($color-tertiary-dark, .85));
        }
    }

    &-detail{
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;

            // to center item simply use below method of line, it is simple right :)
            margin: 0 auto;

            li {
                text-align: center;
                padding: 1rem;
                font-size: 1.5rem;

                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-dark;
                }
            }
        }
    }

    // back side styling
    &-back-call-to-action{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
    
    &-back-price-box {
        color: $color-white;
        margin-bottom: 8rem;
    }
    
    &-back-price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    &-back-price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    // @include respond(tab-port){
    @media only screen and (max-width: 56.25em),
            only screen and (hover: none) // this means only apply for touch devices 
       {

        height: auto;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &-side{
            position: relative;
            height: auto;
            box-shadow: none;

            &-back{
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0,100% 100%,0 100% );
            }
        }

        &:hover &-side-front{
            transform: rotateY(0);
        }

        // back side styling
        &-back-call-to-action{
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }
        
        &-back-price-box {
            margin-bottom: 3rem;
        }
        
        &-back-price-value {
            font-size: 6rem;
        }

    }

}